.hidden {
  display: none;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -60px;
}

.page-wrap:after {
  content: '';
  display: block;
}

footer, .page-wrap:after {
  height: 60px;
}

#eyepiece-wrapper {
  text-align: center;
  vertical-align: middle;
}

.eyepiece {
  background-color: #eee;
  display: inline-block;
  height: 240px;
  margin: 0.5em;
  width: 320px;
  border: medium;
  border-color: black;
}

.camera-message {
  display: inline-block;
}

.trigger {
  border: 1px solid #f5f5f5;
  position: relative;
}

.trigger:after {
  border: 2px solid white;
  bottom: 5px;
  content: '';
  left: 5px;
  position:absolute;
  right: 5px;
  top: 5px;
}

.section-header {
  color: #125688;
}

.gallery-wrapper {
	clear: left;
}

.gallery canvas {
  margin: 10px;
  height: 240px;
  width: 320px;
  overflow: hidden;
}

div#initial-state {
	width: 100%; 
	height: 100%; 
	box-sizing: border-box; 
	overflow: hidden; 
	text-align: center; 
	padding: 48px 64px; 
	position: absolute; 
	z-index: 3;
}

canvas.selected {
  background-color: green;
  padding: 5px;
}

a.mlc-action-text {
	cursor: default;	
}

a.mlc-action-text:active, a.mlc-action-text:hover {
	color: initial;	
}

td.column-mlc-thumb img {
	margin: 0;
	width: auto;
	height: auto;
	max-width: 40px;
	max-height: 40px;
	vertical-align: middle;
}

table.wp-list-table .column-mlc-thumb {
	width: 52px;
	text-align: center;
	white-space: nowrap;
}

table.wp-list-table .column-name {
	width: 45%;
}

.mlc-action-spinner {
	background: url('../../../../../wp-admin/images/loading.gif') no-repeat;
	background-size: 16px 16px;
	display: none;
	float: left;
	opacity: 1;
	filter: alpha(opacity=70);
	width: 16px;
	height: 16px;
	margin: 5px 5px 0;
}
.mlc-img-spinner {
	background: url('../../../../../wp-admin/images/spinner-2x.gif') no-repeat;
	background-size: 40px 40px;
	display: none;
	float: left;
	opacity: 1;
	filter: alpha(opacity=100);
	width: 40px;
	height: 40px;
	margin: 5px 5px 0;
}
